@charset "utf-8";
body{width: 100%; font-size: 12px;}
div#top{display: none;}
div#lateral{display: none; width: 0%; }
div#modx-topbar{display: none;}
div#menu-left{display: none; width: 0%;}
div#render{width: 100%; height: 100%; margin: 2px; padding: 5px; left: 0; float: none;}
a#toggler{display: none; width: 0px;}
table{width: 100%;padding: 0;margin: 0;border:1px solid #000;border-collapse:collapse;}
table#theTable tr{border: 1px solid #000}        
table#theTable tr td{border: 1px solid #000; text-align: center; padding:2px;}        
table#theTable thead tr th{border: 1px solid #000; font-weight: bold; }   
table tr td{border: 1px solid #000} 
#header{display: none;}
#nav{display: none;}
#footer{display: none;}
#nav{display: none;}
.uibutton{display: none;}
.noprint{display:none;}
h2{text-align:center;}
h2 span{display: none;}