a{text-decoration: none;}
a,a:visited,a:active{color:#111;}
a img{border: none;}
h2{line-height: 13px; font-size: 14px; letter-spacing: 0.1px; font-family: Tahoma;  }
h2.subtitulo{ line-height: 20px; font-size: 20px; font-weight: normal; border-bottom: 1px solid #acacac;  display: block; color: #000;  }
h2.subtitulo span{ font-family: Arial,Helvetica,sans-serif; font-size: 10px; font-weight: normal;line-height: 18px;margin-top: 14px;text-transform: uppercase;color: #4D5660;}
hr {clear: right;background: none repeat scroll 0 0 #D9D9D9;border-width: 0;color: #ccc;height: 1px;margin-top: 5px;}
b{color:#000;}
h1, h2 {font-weight: normal;padding: 0;margin:2px 0;color:#111;}
div#busqueda{float: right; }
select, input[type="text"],input[type="password"]{height: 15px; line-height: 15px; }
select, input[type="text"],input[type="password"], textarea {font-size: 12px;background: none repeat scroll 0 0 #fff;border: 1px solid #C5D6E2;border-radius: 2px;margin: 0 0 10px;padding: 7px;color: #111;}
input[type="text"]:focus,input[type="password"], textarea:focus {border: 1px solid #666;outline: medium none;}
/*icons*/
.img{padding-right: 16px; font-weight: normal;  height: 14px;width: 10px;}
.entrada3{background: url(../images/entrada.gif) no-repeat;  }
.documento{background: url(../images/doc.png) no-repeat;  }
.observado{background: url(../images/observers.gif) no-repeat;  }
.recepcion{background: url(../images/documentos.png) no-repeat; }
.pendientes{background: url(../images/folder_desktop.png) no-repeat;  }
.informe{background: url(../images/informe.gif) no-repeat; }
.carta{background: url(../images/email.png) no-repeat;}
.nota{background: url(../images/nota.png) no-repeat;  }
.circular{background: url(../images/circular.png) no-repeat;  }
.memo{background: url(../images/memo.gif) no-repeat;  }
.hr{background: url(../images/hr.gif) no-repeat;  }
.nur{background: url(../images/nur.png) no-repeat;  }
.archivos{background: url(../images/kfm.png) no-repeat;  }
div#vias{width: 230px; height: 230px; margin-bottom: 10px;  border: 1px solid #C5D6E2; background: #fff; overflow-y:auto; padding-left: 22px;   }
span.subtitulo{font-weight: bold;}
li.oficina a{font-size: 11px;}
li.oficina a:hover{border-bottom: 1px dotted;  }
div#documento{width: 795px;  margin: 0; padding: 5px;  }
label{color: #666; font-size: 12px; display: block; padding-top:5px;  }
label.error{padding-left: 2px;   color:#D70909;}
input[type="password"],input[type="text"],input[type="select"],select{border:1px solid #C5D6E2;	margin:2px;color: #000;line-height: 20px;height: 20px;padding: 1px;font-weight: normal;}
form textarea{width:550px;}
fieldset{border:none;}
/*CSS black style pagination*/
.pagination {padding: 3px;margin: 10px 3px;text-align:center; color: #ccc;}
.pagination a,.pagination strong {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #666;text-decoration: none;color: #333;}
.pagination strong{background: #eee;}
.pagination a:hover,.pagination a:active {border: 1px solid #4E7EC0;color: #fff;background: #4E7EC0;}
.pagination .current{padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #036CB4;font-weight: bold;background-color: #036CB4;color: #ddd;}
.pagination .disabled{padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #EEE;color: #fff;}
div#perfil{margin: 0 0 10px 0px;}
div#perfil span {display: block;background:#666;padding: 5px;font-size: 12px; font-weight: normal;line-height: 15px;border-bottom: 1px solid #111;text-transform: uppercase;color: #fff;}
div#vias ul li.hombre{list-style-image: url('/media/images/user_hombre.png'); font-size: 11px;}
div#vias ul li.oficinas{list-style-image: url('/media/images/bullet_blue.png'); font-size: 11px;}
div#vias ul li.mujer{list-style-image: url('/media/images/user_mujer.png');font-size: 11px;}
span .home{background: url('/media/images/home.gif') no-repeat; height: 35px;}        
div.bandeja{width: 100%; margin-bottom: 10px; }
div.bandeja a:hover{text-decoration: underline;  }

div.bandeja table{width: 100%;padding: 0;margin: 0;border-collapse:collapse;}
div.tipo1,div.tipo2{border-top: 5px solid #3085BB; border-bottom: 1px solid #3085BB; border-left: 1px solid #3085BB; border-right: 1px solid #3085BB; }
div.tipo0{border-top: 5px solid #666; border-bottom: 1px solid #666; border-left: 1px solid #666; border-right: 1px solid #666;}
div.bandeja table tr td{padding: 5px;}
div.bandeja table tr.header td{font-size: 10px; text-transform: uppercase; font-weight: normal;}
div.bandeja table tr.header td b{font-size: 10px; text-transform: uppercase; font-weight: bold; color: #fff; }
div.bandeja table.oficial0 tr.header td{background: #C2C6CA; color: #000;  border-bottom:  1px solid #ccc;}
div.bandeja table.oficial1 tr.header td{background: #427AAA; color: #fff;  border-bottom:  1px solid #ccc;}
div.message{margin:10px; padding: 20px; background-color:#F8FBCD; border: 1px solid #F7B535; }
div.info2{margin:10px 0; padding: 10px; background-color:#FBFAEF; border: 1px solid #FEDE2F; }
div.info{margin:10px 0; padding: 10px; background-color:#EFF4FB; border: 1px solid #30598B; }
div.error{margin: 0 5px; padding:10px; background-color:#FDECDB; border: 1px solid #A93C3C; }
div.docs{width: 150px; float: left; margin: 5px; padding: 5px; text-align: center; }
div.docs a {padding: 5px;border: 1px dashed #B9C1C8; display: block; text-transform: uppercase; font-weight: bold; font-size: 11px; text-decoration: none; color: #20343F;}
div.doc{ background: #F0F1F3; }
div.doc:hover{ background: #D1E1F4; }
#menu-left,#opciones,div#print_enviados {padding: 2px 0;margin: 0;width: 160px;background-color: #fff; opacity:0.7px;}
#menu-left ul{list-style-image:none;list-style-position:outside;list-style-type:none;padding: 0px;padding-bottom:10px;padding-left:1px;padding-top:5px;margin: 0px;}
#menu-left ul li, #opciones ul li,#print_enviados ul li {
padding: 0px;
margin: 0px;
line-height: 25px;
height: 25px;
border-bottom:1px solid #ccc;
}
#menu-left ul li:first-child {
padding: 0px;
margin: 0px;
}
#menu-left ul li a {
margin: 0px;
text-decoration:none;
color: #666;
display: block;
}
#menu-left ul li a:hover {
color:#000000;
background: #efefef;
}
#menu-left li.selected {
background-color:#F0F0F0;
font-weight:bold;
padding: 0px;
margin: 0px;
}
#menu-left ul li a {
font-weight:bold;
}
.mls {
    margin-left: 5px;
}


div#menu {background:transparent; height: 41px;width:800px;clear: both;display: block;margin: 0;float: left;}
#content table.c { display:  block; clear: both;}
ul#nav {background:transparent;width: 800px;height: 45px;list-style: none outside none;margin: 0;padding: 0;clear: both;display: block;}
ul#nav li {clear: none;float: left;position: relative;width: auto;}
ul#nav li a {background: url("../images/bkgd-nav-line.gif") no-repeat scroll right center transparent;color: #71A8DB;display: inline-block;padding: 5px 10px;text-decoration: none;text-shadow: 1px 0 10px #000000;width: auto;font-size: 12px; }
ul#nav li a span{color:#fff; font-size: 16px; font-weight: 300;  text-transform: none; }
ul#nav li a.last {background: url("../images/bkgd-nav.gif") repeat-x scroll 0 0 transparent;}
ul#nav li a:hover, ul#nav li a.last:hover,ul#nav li#active a {color: #fff;}
/*documento*/
ul#nuevo{list-style: none; width: 800px; }
ul#nuevo li{ float: left; width: 220px; border: 1px solid #ccc; display: block; margin: 5px 10px; padding: 5px ;  background: #F0F1F3; }
ul#nuevo li:hover{ border: 1px solid #036CB4; }
ul#nuevo li  img{ float: left;   }
ul#nuevo li a p{ color: #000; font-size: 18px;}
ul#nuevo li a p span{ color: #666; font-size: 11px;}
div.oculto { display: none;  }
div.archive { padding: 5px; margin-left: 5px; background: #F3F3F3; }
div.archive ul{ }
div.archive ul li { padding-left: 20px;  margin-bottom: 5px; padding-bottom: 5px;  }
div.archive ul li a { display: block; font-size: 12px;}
div#seleciones{margin: 5px; padding: 2px; }
ul#folders li{ background: url(../images/folder-icon.png) no-repeat left center; padding: 15px 15px 15px 50px;  display: block; width: 200px; float: left; background-color: #F0F1F3; border: 1px solid #ccc; margin: 10px;}
ul#folders li a{ display: block; font-weight: bold; }
ul#folders li a:hover{ text-decoration: underline;}
div.estado a{ color: #00131C; font-size: 16px; }
div.estado span{ color: #00131C; font-size: 12px;}
div.user{width: 100%; text-align: center;}
.curved{-moz-border-radius: 5px;-webkit-border-radius: 5px;}
ul.items li a,ul.item_docs li a,ul.items_data li a{font-size: 16px; display: block; margin: 5px;    }    
ul.items li a span,ul.item_docs li a span,ul.items_data li a span{font-size: 13px;   }    
ul.items li a:hover{background-color: #F1FDF4; }    
ul.item_docs li a:hover{background-color: #F1F7FD; }    
ul.items_data li a:hover{background-color: #FDF6F1; }    
ul.items li a:hover,ul.item_docs li a:hover{color:#005C92; }    
ul.items li a,ul.item_docs li a,ul.items_data li a{background: none no-repeat scroll left center transparent;border-bottom: 1px solid #D5D5D5;margin-bottom: 5px;min-height: 50px;padding: 5px 0 5px 50px;}      
ul.item_docs li a{ background-image: url(../images/document.png);}    
ul.items li a.item1 { background-image: url(../images/inbox_into.png);}    
ul.items li a.item2 { background-image: url(../images/ktimer.png);}    
ul.items li a.item3 { background-image: url(../images/inbox_into.png);}    
ul.items li a.item6 { background-image: url(../images/agrupado.png);}    
ul.items li a.item10 { background-image: url(../images/my_documents.png);}    
ul.items li a.itemd { background-image: url(../images/group_go.png);}    
ul.items_data li a.itemc { background-image: url(../images/lock.jpg);}    
ul.items_data li a.itemd { background-image: url(../images/usercard.jpg);}    
 a.destino:hover{border-bottom: 1px dotted #333;   }
 ul.info li{ font-size: 14px; line-height: 15px; height: 15px; padding: 2px;    }
 table.classy {
    -moz-border-radius: 3px 3px 3px 3px;
    border-bottom: 3px solid #666;
    border-left: 3px solid #666;
    border-right: 3px solid #666;
    border-spacing: 0;
    width: 100%;
}
table.classy th, table.classy td {
    line-height: 1.3;
    padding: 5px 5px 3px 10px;
    text-decoration: none;
}
table.classy th {
    background-color: #666;
    color: #000000;
}
table.classy td {
    color: #000000;
    font-size: 11px;
}
table.classy td a {
    color: #08447D;
    font-size: 11px;
    font-weight: bold;
}
table.classy td a:hover {
    border-bottom: 1px dotted #08447d; 
}
table.classy thead th {
    background-color: #666;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 10px;
    text-shadow: 1px -1px 0 #3F3F3F;
    text-transform: uppercase;
}
table.classy tr.odd td {
    background: none repeat scroll 0 0 #E8EFF8;
}
h2.referencia{color:#366FB0;}
a.link{padding-left:20px; font-weight:bold; height:20px; line-height: 20px;margin: 5px; padding-bottom: 2px; }
a.link2{padding-left:8px; font-weight:bold; height:20px; line-height: 20px;margin: 5px; padding-bottom: 2px; }
a.link:hover,a.link2:hover{text-decoration: underline;  }
a.respuesta{ background: url(../images/kword_kwd.png) no-repeat;}
a.derivar{ background: url(../images/derivar.png) no-repeat; }
a.recepcion{ background: url(../images/recepcion.png) no-repeat; }
a.agrupado{ background: url(../images/docs.gif) no-repeat; }
a.imprimir{ background: url(../images/printer) no-repeat; }
a.word{ background: url(../images/word07.gif) no-repeat; }
a.pdf{ background: url(../images/pdf.gif) no-repeat; }
a.save{ background: url(../images/save.png) no-repeat; }
a.asc{ background: url(../images/sort-asc.png) no-repeat left  center; }
a.desc{ background: url(../images/sort-desc.png) no-repeat left  center; }
a.nur0,a.nur1{font-size:14px; color:#fff; font-weight: 300;margin: 0;padding: 2px;}
a.nur0{background-color:#666; }
a.nur1{background-color:#6DC418;}
.oficina,.remite,.accion{color: #666; font-weight: bold;  }
.transparente{background: -moz-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15) 100%) repeat scroll 0 0 transparent;}
.borde{ 
    -moz-box-shadow: 1px 1px 5px 0 #333333, 0 0 1px 1px rgba(255, 255, 255, 0.6) inset;
    border: 1px solid black;}
.tt{background: -moz-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15) 100%) repeat scroll 0 0 transparent;}
div.formulario{width: 800px; border: 1px solid #ccc; background-color:#F2F7FC;  }
div#op{float: right; width: 150px;padding-top: 20px;display: block;  }

/**/
div.tabs ul.tabNavigation {
	margin: 0;
	margin-bottom:-1px;
	padding: 0;	
	list-style: none;
	height: 32px;
	/*border-bottom: 1px solid #999;*/
	border-left: 1px solid #ccc;
	width: 100%;
        }
div.tabs ul.tabNavigation li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: none;
	overflow: hidden;
	position: relative;
        width: 200px; 
	background: #eee;
}
div.tabs ul.tabNavigation li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;outline: none;
}
div.tabs ul.tabNavigation li a.selected{
background: #F2F7FC;
font-weight: bold;
}
ul.tabs li a:hover {
	background: #DAE7F4;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #DAE7F4;        
}
 .tab_container {
	border: 1px solid #aaa;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 0px;
	font-size: 1.2em;
}

#contenido {
border: 1px solid #4E4E4E;
border-radius: 3px;
color: #AAAAAA;
line-height: 15px;
z-index: 1;
width: 180px; 
margin-top:5px;
margin-right: 0px;
border:none;
padding:0;
float: right; 
}
ul#pendientes li{border: 1px solid #aaa; padding:3px; margin:5px;width:250px; display:block; float:left; heigth:100px; }


a.pendiente{font-size: 13px; line-height: 20px; display: block; }
a.pendiente:hover{background-color: #f1fdf4; }
span.dias{display: block; padding: 3px; width: 100px; color:#fff;} 
span.dias0{ background: #6DC418; border: 1px solid #468C1F;  } 
span.dias1{ background: #FAE718;} 
span.dias2{ background: #EA3017; border: 1px solid #B40808;} 
