/* -------------------------[ Neutralize styles, fonts and viewport ]--- */

html { /overflow-x: hidden; /overflow-y: auto;} /* for IE7, IE6 */
html,body, form, fieldset {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100.01%;
	line-height: 1.5;
	font-family: Helvetica, Arial, sans-serif !important;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	color: #111;
}
body {
	font-size: 62.5%;
	font-size: 75%;
	font-size: 68.75%;
	height: 100%;
	color:#333333;
	background: #f7f7f7;

}
img, a img {
	border: 0 !important;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin: 0 0 .5em;
	padding: 0;
	font-weight: normal;
}
li, dd, blockquote {
	margin: 0 0  0 1em;
}
	.rtl li, .rtl dd, .rtl blockquote {
		margin: 0 1em 0 0;
	}


.file-manager td {
	border-bottom: 1px solid #d5dfea;
}
.ab2 {
	padding-bottom: 20px;
}
/* -------------------------[ Miscellaneous conveniences ]--- */
.clearfix, .cls {
	clear: both;
	height: 0 !important;
	margin: 0;
	font-size: 1px;
	overflow: hidden;
}
.clear {
	clear: both;
}
.fail {
	color: #900;
	font-weight: bold;
}
.warning {
	color: #444444;
	font-weight: bold;
}
.success {
	color: #090;
	font-weight: bold;
}
.contentPad {
	height: 20px !important;
	clear: both;
}
.hide, .skip, .printonly {
	display: none;
}
.inline {
	display: inline;
}
/* -------------------------[ Headers and Paragraphs ]--- */
h1, h2, h3, h4, h5, h6, .subTitle {
	font-weight: normal;
}
h1 {
	font-size: 218%;
	font-size: 164%;
	line-height: 40px;
	margin-left: 10px;
	letter-spacing:1px;
}
	.rtl h1 {
		margin-right: 10px;
	}
h2 {
	font-size: 164%;
}
h3 {
	font-size: 145%;
}
h4 {
	font-size: 118%;
}
h5 {
	font-size: 100%;
	font-weight: bold;
}
h6 {
	font-size: 86%;
	font-weight: bold;
}
p.caption, p.comment {
	font-size: 86%;
	color: #888;
}
button {
	color: #821517;
	font-weight: bold;
	width: 112px;
	margin: 0 5px 0 0;
	cursor: pointer;
}
	.rtl button {
		margin: 0 0 0 5px;
	}
a, a:active, a:visited, a:link {
	color: #1a32c7;
	text-decoration: underline;
}
a:hover {
	color: #0f1e76;
}
hr {
	color: #777;
	background-color: #777;
	height: 1px;
	border: 0;
}
.split {
	background: #821517 url(images/misc/line.gif) repeat-x;
	height: 1px;
	font-size: 0;
	clear: both;
	padding: 0;
}
#previewIframe {
	width: 100%;
	height: 400px;
}
.messageRead {
	color: #000;
}
.messageUnread {
	color: #3CB371;
	font-weight: bold;
}
.right {
	font-weight: bold;
	color: #000;
	float: left;
	padding: 0 20px 20px;
}
	.rtl .right {
		float: right;
	}

/* -------------------------[ Topbar ]--- */
#topbar {
	margin: 0;
	color: #000;
	padding: 0 5px;
}
#topbar * {
	vertical-align: middle;
}
#topbar a,
#topbar a:link,
#topbar a:visited {
	font-weight: bold;
	color: #AAB1B9;
	text-decoration: none;
}
#topbar a:hover {
	color: #fff;
	text-decoration: underline;
}
#tocText {
	position: absolute;
	left: 3px;
	top: 50px;
	z-index: 1000;
}
	.rtl #tocText {
		right: 3px;
	}
.tocTextRTL {
	right: 3px;
}
#tocText,
#buildText,
#workText {
	font-weight: bold;
	line-height: 16px;
	margin: 0 15px;
	color: #FFF;
}
#tocText,
#buildText img,
#workText img {
	margin: 0 5px;
}
#statusbar {
	position: absolute;
	right: 0;
	top: 27px;
}
	.rtl #statusbar { 
		left: 0; 
	}
#supplementalNav {
	float: right;
	background: transparent;
	font-size: 11px;
	padding: 0 0 30px;
	margin: 0;
	color: #89939E;
	
}
	.rtl #supplementalNav {
		float: left;
	}
#supplementalNav * {
	vertical-align: bottom;
}
#supplementalNav a {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
#supplementalNav a:hover
 {	
	text-decoration: none;
}
#msgCounter, #newMail {
	margin: 0;
	padding: 0;
}



/* -------------------------[ Misc stuff ]--- */
.sectionBody fieldset {
	border: 0;
	background: #fff;
	font-size: 12px;
	padding: 10px;
}
.sectionBody fieldset h3 {
	font-size: 14px;
	color: #789;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
}
.sectionHeader, .showHideVisible {
	margin: 0 10px;
	padding: 5px 3px 5px;
	font-weight: bold;
	color: #000;
	border: 1px solid #e3e3e3;
	border-bottom:none;
}
	.tab-page .sectionHeader {
		margin: 10px 10px 0;
	}
	.rtl .sectionHeader {
		direction: rtl;
		padding: 5px 18px 5px 3px;
	}
.sectionBody, .layerVisible {
	position: relative;
	display: none;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	margin: 0 10px 10px;
	padding: 10px;
	display: block;
	background: #fff url(images/misc/tabareabg.gif) repeat-x top;
}
	.tab-page .sectionBody {
		margin: 0 10px 0;
	}
	.rtl .sectionBody, .layerVisible {
		direction: rtl;
		position: inherit;
	}
.showHideVisible, .layerVisible {
	margin: 0 10px 4px;
}
.sectionHeader {
	padding: 5px 3px 5px 18px;
	background: #EFEFEF url(images/misc/fade.gif) repeat-x top;
}
	.rtl .sectionHeader {
		direction: rtl;
		padding: 5px 18px 5px 3px;
	}
.comment {
	font-size: 10px;
	color: #000;
}
thead, .fancyrow {
	color: #000;
	height: 18px !important;
	background-color: #E4E4E4;
}
thead td {
	color: #000;
	border-top: 1px solid #fff;
}
.fancyrow2 {
	height: 18px !important;
	background-color: #F0A62F;
	background-position: top;
	background-repeat: repeat-x;
	border-bottom: 1px solid #fff;
	color: #fff;
}
li {
	padding: 0;
	margin: 0;
	list-style: disc outside url(images/misc/li.gif);
}
ul {
	margin: 0 20px 0 20px;
}
	.rtl ul {
		margin: 0 10px 0 20px;
	}
.screen {
	border: 1px solid #ddd;
	text-align: center;
}
a img {
	border: 0;
}
.even {
	background: #D9E7C2;
}
.odd {
	background: #fff;
}
/* -------------------------[ end sortable table ]--- */
.disabledImage {
	width: 20px;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.disabledImage img {
	border: 0;
}
.editorCell {
	border-top: 1px solid #808080;
	text-align: left;
	vertical-align: baseline;
}
	.rtl .editorCell {
		text-align: right;
	}
.row1, .row2, .row3 {
	background-color: #fff;
	color: #000;
}
.row2 {
	background-color: #C8DAA2;
}
.row3 {
	background-color: #F4F4F4;
}
.treeframebody {
	background-color: #f4f4f4;
}

#treeMenu * {
	vertical-align: middle;
}
#treeHolder {
	cursor: default;
	height: 100%;
	padding: 5px 10px 0 10px;
	border-top: 2px solid #fff;
	background: #f4f4f4;
}
#treeRoot div img {
	margin: 0 0 0 -6px;
}
	.rtl #treeRoot div img {
		margin: 0 -6px 0 0;
	}
#floater {
	display: none;
	position: absolute;
	width: 200px;
	height: 50px;
	top: 25px;
	left: 4px;
	background: #fff;
	border-bottom: 1px solid #666;
	z-index: 500;
}
	.rtl #floater {
		right: 4px
	}
.rootNode, .treeNode, .treeNodeHover, .treeNodeSelected, .emptyNode {
	color: #000;
	padding: 2px;
	cursor: pointer;
	width: auto;
}
.treeNodeHover {
	background-color: #fff;
	border: 1px solid #c8c8d4;
	padding: 1px;
}
.treeNodeSelected {
	background-color: #fff;
	color: #000;
	border: 1px solid #c8c8d4;
	padding: 1px;
}
.unpublishedNode {
	color: #aaa;
	font-style: italic;
}
.deletedNode {
	color: #A52A2A;
	text-decoration: line-through;
}
.publishedNode {
	color: #000;
}
.emptyNode {
	color: #aaa;
	cursor: default;
}
.notInMenuNode {
	color: #777;
	text-decoration: none;
}
.protectedNode {
	color: #aaa;
}

#treeSplitter {
	width: 10px;
	height: 100%;
	position: absolute;
	right: -10px;
}
	.rtl #treeSplitter {
		left: -10px;
	}
.disabledPlugin a {
	color: #aaa;
	text-decoration: line-through;
}
/* -------------------------[ grid style ]--- */
.grid {
	width: 100%;
	background-color: #fff;
	border: 1px solid silver;
}
.gridHeader {
	color: #fff;
	font-weight: bold;
	background-color: #88939E;
}
.gridItem {
	background-color: #fff;
	padding: 3px;
}
.gridAltItem {
	background-color: #eeeeee;
	padding: 3px;
}
.gridRowIcon:hover {
	background-color: #f5f5dc;
}
.grid a {
	text-decoration: none;
}
.grid img {
	vertical-align: middle;
	padding-right: 4px;
}
/* -------------------------[ home page main links ]--- */
a.hometblink, a.hometblink:active, a.hometblink:visited, a.hometblink:link, .hometblink {
	text-decoration: underline;
	color: #000;
	font-weight: bold;
}
a.hometblink:hover {
	text-decoration: underline;
	color: Gray;
}
.notice {
	width: 100%;
	padding: 5px;
	border: 1px solid #eee;
	background-color: #F4F4F4;
	color: #707070;
}
#preLoader {
	position: absolute;
	z-index: 50000;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.preLoaderText {
	background-color: #fff;
	width: 300px;
	height: 150px;
	padding: 50px;
	border: 1px solid #039;
}
/* -------------------------[ contextmenu in editing modules ]--- */
.contextMenu {
	background: #fff;
	margin: 0;
	padding: 0;
	border: 1px solid #039;
	border-color: #eaeaea #909090 #707070 #eaeaea;
	position: absolute;
	z-index: 10000;
}
.cntxMnuItem {
	background-image: url(images/_tx_.gif);
	cursor: pointer;
	color: #000;
	padding: 3px 16px 3px 2px;
}
	.rtl .cntxMnuItem,
	.rtl .cntxMnuItemDisabled {
		padding: 3px 2px 3px 16px;
	}
.cntxMnuItemDisabled {
	cursor: default;
	padding: 3px 16px 3px 2px;
	color: #111;
}
.cntxMnuItemOver {
	cursor: pointer;
	color: #000;
	background: #e3e3e3;
	padding: 2px 15px 2px 1px;
	border: 1px solid #c0c0c0;
}
	.rtl .cntxMnuItemOver {
		padding: 2px 1px 2px 15px;
	}
.cntxMnuItem img, .cntxMnuItemOver img, .cntxMnuItemDisabled img {
	margin: 0 8px 0 0;
}
	.rtl .cntxMnuItem img,
	.rtl .cntxMnuItemOver img,
	.rtl .cntxMnuItemDisabled img {
		margin: 0 0 0 8px;
	}

.cntxMnuItem img, .cntxMnuItemDisabled img {
	opacity: .3;
	filter: alpha(opacity=30);
}
.cntxMnuSeparator {
	font-size: 0;
	height: 1px;
	background-color: silver;
	overflow: hidden;
	margin: 3px 1px 3px 28px;
}
	.rtl .cntxMnuSeparator {
		margin: 3px 28px 3px 1px;
	}

/* -------------------------[ Top Navbar of snap in top menu bar layout ]--- */
#topMenu {
	background: #e4e4e4 url(images/misc/menubg.png);
}
#Navcontainer {
	padding: 0 10px;
	color: #fff;
}
#nav {
	margin: 0;
	padding: 0;
	height: 25px;
	width: 100%;
	position: absolute;
	top: 18px;
	overflow: visible !important;
}
	.rtl #nav {
		right: 10px;
	}
#nav ul {
	display: none;
	height: 24px;
	position: relative;
	z-index: 500;
	margin: 0 0 0 -10px;
	padding: 0 0 0 20px;
}
.rtl #nav ul {
		margin: 0 -10px 0 0;
	    padding: 0 20px 0 0;

}
#nav li {
	list-style: none;
	background: #d4d4d4 url(images/misc/tab.gif) 100% 100%;
	float: left;
	width: auto;
	margin: 0 2px 0 0;
	padding: 0;

}
	.rtl #nav li {
		float: right;
		margin: 0 0 0 3px;
	}
#nav li a {
	border-left: 1px solid #2c3d50;
	color: #919fae;
	height: 25px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	line-height: 25px;
	overflow: hidden;
	padding: 0 25px;
	float: none !important;
	float: left;
	display: block;
}
#nav li ul li a {
	padding: 0 10px !important;
}
#nav li ul li a {
	background-color: #d4d4d4;
	float: left;
	width: auto;
}
	.rtl #nav li ul li a {
	    float: right;
	}

#nav a:hover {
	color: #fff;
}
#nav a:active {
	color: #fff;
}
#nav li.active {
	background: #758ca2 url(images/misc/tab.gif) 100% 0;
}
#nav li.active a {
	color:#fff;
	position: relative;
	z-index: 999999;
	border-bottom: 1px solid #61779B;
	
}
#nav li.active a:hover {
	cursor: pointer;
}
#nav li.active ul.subnav {
	padding-top:1px;
	height:26px; /*alerta*/
	display: block;
	position: absolute;
	top: 24px;
	width: 100%;
	left: 0;
	right:0;
	background-color: #657587;
	border-top: 1px solid #61779B;
	border-bottom: 1px solid #7b8c9f;
	
}
	#nav li.active ul.subnav {
	    right: 0;

	}
#nav li.active ul.subnav a {
	color: #020B57;
	font-weight: normal;
	border-bottom: 1px solid #7b8c9f;
	background-color: #657587;
	cursor: pointer;
	border-left: none;
	font-weight:bold;
}
#nav li.active ul.subnav li {

	-moz-border-radius: 6px;
	text-align:center;
	
}
/*#nav li.active ul.subnav li {

	-moz-border-radius: 6px;
	text-align:center;
	text-transform:capitalize;
	
}*/

#nav li.active ul.subnav a:hover {
	color: #000;
	background-color: #F3B40F; 
	background-image: url(images/misc/longbar2.png);
	-moz-border-radius: 5px;
	font-weight:bold;
}
#nav li.active ul.subnav a:active {
	color: #ccc;
	background-image: url(images/misc/longbarbg2.png);
	-moz-border-radius: 5px;
	font-weight:bold;
}
#nav li.active ul.subnav,
#nav li.active ul.subnav a {
	background: #657587 url(images/misc/longbarbg.png) repeat-x top;
	height:50px;	
}
img{
	padding-top:1px;}
